.fa{
    color: rgb(237, 199, 13);
    font-size: 30px;
}
.circle{
    background-color: rgb(211, 192, 192);
    height:50px;
    width:50px; 
}
.p1{
    font-size: large;
}
.th{
    text-align: center;
}